.excelExport {
	display: flex;
	align-items: center;
	margin-right: 1rem;
	background-color: var(--color-inactive);
	border-radius: 5px;
	font-size: var(--font-size-sm);
	padding: 0.5rem 1rem;

	a {
		color: var(--color-dark-main);
	}

	@media (max-width: 575px) {
		margin-right: 0.5rem;
		padding: 0.5rem 0.25rem;

		span {
			white-space: nowrap;
		}
	}
}
