//normal theme color

$colors: (
    light: (242, 242, 242),
    light-50: (232, 233, 233),
    light-100: (210, 211, 211),
    light-200: (187, 189, 188),
    light-300: (164, 167, 166),
    light-400: (142, 145, 144),
    light-500: (119, 123, 122),
    light-600: (96, 101, 100),
    light-700: (73, 79, 77),
    light-800: (51, 57, 55),
    light-900: (255, 255, 255),
    dark-main: (66, 82, 110),
    dark-sub: (107, 119, 140),
    dark-100: (181, 181, 181),
    dark-200: (120, 120, 120),
    dark-300: (100, 100, 100),
    dark-400: (90, 90, 90),
    dark-500: (70, 70, 70),
    dark-600: (50, 50, 50),
    dark-700: (30, 30, 30),
    dark-800: (10, 10, 10),
    dark-900: (0, 0, 0),
    primary-main: (19, 119, 73),
    primary-main-50: (19, 119, 73, 0.05),
    primary-main-100: (19, 119, 73, 0.1),
    primary-main-200: (19, 119, 73, 0.2),
    primary-main-300: (19, 119, 73, 0.3),
    primary-main-400: (19, 119, 73, 0.4),
    primary-main-500: (19, 119, 73, 0.5),
    primary-main-600: (19, 119, 73, 0.6),
    primary-main-700: (19, 119, 73, 0.7),
    primary-main-800: (19, 119, 73, 0.8),
    primary-main-900: (19, 119, 73, 0.9),
    primary-sub: (23, 43, 77),
    border:(223, 225, 230),
    border-sub:(223, 225, 235),
    active:(19, 119, 73, 0.2),
    active-light:(19, 119, 73, 0.1),
    inactive:(244, 245, 247),
    checked:(0, 135, 90),
    checked-light:(227, 252, 239),
    red-yp:(228, 0, 43),
    blue-yp:(19, 119, 73),
    blue-yp-15:(19, 119, 73, .15),
    warning:(255, 251, 230),
    warning-light:(253, 230, 234),
    placeHolder:(94, 108, 132),
    yellow-light:(255, 244, 229),
    yellow-dark:(219, 106, 0),
    green-yp: (0, 168, 132),
    text-primary: (50, 50, 50)
);

$colors-dark: (
    light: (242, 242, 242),
    light-50: (232, 233, 233),
    light-100: (210, 211, 211),
    light-200: (187, 189, 188),
    light-300: (164, 167, 166),
    light-400: (142, 145, 144),
    light-500: (119, 123, 122),
    light-600: (96, 101, 100),
    light-700: (73, 79, 77),
    light-800: (51, 57, 55),
    light-900: (28, 35, 33),
    dark-main: (66, 82, 110),
    dark-sub: (107, 119, 140),
    dark-100: (181, 181, 181),
    dark-200: (120, 120, 120),
    dark-300: (100, 100, 100),
    dark-400: (90, 90, 90),
    dark-500: (70, 70, 70),
    dark-600: (50, 50, 50),
    dark-700: (30, 30, 30),
    dark-800: (10, 10, 10),
    dark-900: (0, 0, 0),
    primary-main: (19, 119, 73),
    primary-main-50: (231, 241, 237),
    primary-main-100: (208, 228, 219),
    primary-main-200: (184, 214, 200),
    primary-main-300: (161, 201, 182),
    primary-main-400: (137, 187, 164),
    primary-main-500: (113, 173, 146),
    primary-main-600: (90, 160, 128),
    primary-main-700: (66, 146, 109),
    primary-main-800: (43, 133, 91),
    primary-main-900: (19, 119, 73),
    primary-sub: (23, 43, 77),
    border:(223, 225, 230),
    border-sub:(223, 225, 235),
    active:(202, 222, 252),
    active-light:(230, 239, 252),
    inactive:(244, 245, 247),
    checked:(0, 135, 90),
    checked-light:(227, 252, 239),
    red-yp:(228, 0, 43),
    blue-yp:(0, 70, 127),
    blue-yp-15:(0, 70, 127, .15),
    warning:(255, 251, 230),
    warning-light:(253, 230, 234),
    placeHolder:(94, 108, 132),
    yellow-light:(255, 244, 229),
    yellow-dark:(219, 106, 0),
    green-yp: (0, 168, 132),
    text-primary: (50, 50, 50)
);


//creating a function to get color instead of using css varible
@function getColor($color-name) {
    @return var(--color-#{$color-name});
}

//creating a function to get color with alpha parameter instead of using css varible
@function getColorWithAlpha($color-name, $alpha: 1) {
    @return rgba(var(--color-#{$color-name}-rgb), $alpha);
}