.overlay {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	max-height: 50vh;
	overflow-y: auto;
	margin-top: 10px;
	border-radius: 5px;
	padding: 1rem;
	margin-left: 1rem;

	@media (min-width: 650px) {
		right: 0.1rem;
		position: absolute;
		width: 30rem;
	}

	&::-webkit-scrollbar {
		width: 2px;
	}
}

.overlay_item {
	display: flex;
	align-items: center;
	padding: 0.7rem 1.5rem;

	&:hover {
		background-color: var(--color-inactive);
		cursor: pointer;
	}
}

.anticon {
	height: 1.75rem;
	aspect-ratio: 1;
	background: var(--color-primary-main);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	margin-right: 0.8rem;

	svg {
		fill: var(--color-light);
	}
}

.overlay_page {
	border-radius: 5px;
	padding: 1rem;
	max-height: 360px;
	overflow: auto;
	width: calc(50% - 0.5rem);

	@media (max-width: 1024px) {
		height: 100%;
	}

	@media (max-width: 575px) {
		width: 100%;
		margin-bottom: 0.5rem;
	}
}

.notificationImage {
	// border: 1px solid #f2f2f2;
	width: 50px;
	min-width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	// border-radius: 50%;
	overflow: hidden;

	img {
		display: inline-block;
		object-fit: cover;
		height: 50px;
		width: 50px;
	}
}

.mailIcon {
	width: 50px;
	min-width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		display: inline-block;
		object-fit: contain;
		height: 50px;
		width: 50px;
	}
}

.notificationContent {
	display: flex;
	margin: 0.5rem 0;
	align-items: center;
	justify-content: space-between;
}
