.photo_view {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5rem;
    width: 100%;
    min-height: 6rem;
    font-size: var(--font-size-sm);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}