.updateTitle {
    position: relative;
    border: 2px solid var(--color-primary-main);
    border-radius: 0.25rem;

    .textArea {
        font-size: var(--font-size-normal);
        color: var(--color-dark-main);
        padding: 0.25rem 0.5rem;
    }

    .buttonWrap {
        position: absolute;
        bottom: -2.5rem;
        right: 0;
        display: flex;
        gap: 0.25rem;

        &>button {
            box-shadow: 1.5px 3px 20px var(--color-light-100);
            border-radius: 0.25rem;
            background-color: white;
            z-index: 999
        }
    }

}