.accordianItem {
	& > p {
		margin-bottom: 0;
	}
}

.total {
	width: 100%;
	max-width: 300px;
	margin-left: auto;
	padding: 10px;
}

.total_item {
	display: flex;
	padding: 5px 0;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.date_picker {
	width: 100%;
	margin-bottom: 10px;
	border: 2px solid var(--color-border-sub);
	border-radius: 5px;
}

.z_index {
	z-index: 10000;
}

.date_footer {
	display: flex;
	flex-wrap: wrap;
	gap: 7px;
	align-items: center;
	padding: 10px;
}

.gen_border {
	border: 2px solid var(--color-border-sub);
	border-radius: 5px;
}
