body {
  .label{
    font-size: var(--font-size-sm) !important;
    color: var(--color-dark-main);
  }
  .asterisk{
    color: var(--color-red-yp);
    padding: 0px 2px;
  }
  .selectwrap{
    height: 100%;
  }
  .select {
    width: 100%;
    height: 100%;
    &>div{
    background-color: var(--color-light-150) !important;
    border-radius: 3px;
    border: 2px solid var(--color-border-sub) !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }
}
