.itemWrapper {
    display: flex;
    justify-content: space-between;
    
    &>span {
        display: inline-block;
        max-width: calc(100% - 20px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &.drop-over-downward {
        border-bottom: 2px dashed #1890ff;
    }

    &.drop-over-upward {
        border-top: 2px dashed #1890ff;
    }
}