.container {
	display: flex;
	width: 100%;
	gap: 0.9rem;
	flex-wrap: wrap;

	.card {
		padding: 1rem;
		border-radius: 0.5rem;
		border: 1px solid var(--color-border);
		width: calc(33% - 0.5rem);

		@media (max-width: 768px) {
			width: calc(50% - 0.5rem);
		}

		.cardBody {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			align-items: center;
			justify-content: center;

			.cardTitle {
				color: var(--color-dark-main);
				font-size: var(--font-size-lg);
				margin-bottom: 0;
				text-align: center;

				@media (max-width: 575px) {
					font-size: var(--font-size-normal);
				}
			}

			.icon {
				width: 80px;
				height: 80px;
				align-self: center;

				@media (max-width: 575px) {
					width: 60px;
					height: 60px;
				}
			}
		}
	}
}
