.analyticsWrap {
    padding: 0.5rem;

    @media(max-width: 575px) {
        padding: 0px;
    }

    .tooltipWrap {
        background-color: var(--color-light-100);
        border: 1px solid var(--color-light);
        border-radius: 0.5rem;
        padding: 0.3rem 0px;

        .tooltipLabel {
            text-align: center;
            font-weight: var(--font-weight-bold);
            border-bottom: 1px solid var(--color-border-sub);
            margin: 0px;
        }

        .tooltipFirst {
            margin: 0px;
            color: var(--color-green-yp);
            margin: 0.3rem 0px;
        }

        .tooltipSecond {
            color: var(--color-light-700);
            margin: 0px;
            margin-bottom: 0.3rem;
        }
    }
}