// styles
.opacity_6 {
    opacity: 0.6;
}

.dropdown {
    cursor: pointer;
}

.overlay {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}

.overlay_item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0.4rem 0;
    width: 100%;
}

.overlay_popConfirm {
    cursor: pointer;
}

.disabledButton {
    opacity: 0.5;
    cursor: not-allowed;
}

.permitFiles {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.permitFiles__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 75%;
}