.customFilter {
    display: flex;
    background-color: var(--color-inactive);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.sort {
    cursor: pointer;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.overlay {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
    border-radius: 5px !important;
}

.input {
    width: 100% !important;
    max-width: 320px !important;
}

.checkboxGroup {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
    max-height: 15rem !important;
    overflow-y: auto !important;
    gap: 0.5rem !important;
    padding: 0.2rem 0 !important;

    &::-webkit-scrollbar {
        width: 7px !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-dark-main) !important;
        border-radius: 20px !important;
        border: 3px solid var(--color-dark-main) !important;
    }
}

.radioGroup {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
    max-height: 15rem !important;
    overflow-y: auto !important;
    gap: 0.5rem !important;
    padding: 0.2rem 0 !important;

    &::-webkit-scrollbar {
        width: 7px !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-dark-main) !important;
        border-radius: 20px !important;
        border: 3px solid var(--color-dark-main) !important;
    }
}

.footerButtonWrap {
    display: flex !important;
    gap: 1rem !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0.5rem 0px 0.25rem 0px !important;
    border-top: 1px solid var(--color-border) !important;
    margin: 0px 0.5rem 0.5rem 0.5rem !important;

    &>button {
        border-radius: 5px !important;
    }
}

.label {
    border-radius: 4px !important;
    background: var(--color-inactive) !important;
    padding: 0.5rem !important;
    color: var(--color-dark-main) !important;
    font-size: var(--font-size-sm) !important;
    cursor: pointer !important;

    span {
        svg {
            width: 10px !important;
            height: 10px !important;
        }
    }
}

.updated {
    background: var(--color-dark-main) !important;
    color: #fff !important;
    padding: 0.4rem !important;
    border-radius: 4px !important;
    font-size: var(--font-size-sm) !important;
    cursor: pointer !important;
}

.no_bg {
    background: none !important;
    color: var(--color-dark-main) !important;
    padding: 0.5rem !important;
    border-radius: 4px !important;
    font-size: var(--font-size-sm) !important;
    cursor: pointer !important;
}

.updateButton {
    background: var(--color-dark-main) !important;
    color: #fff !important;
    font-size: var(--font-size-sm) !important;
    cursor: pointer !important;
}

.selectedData {
    font-size: var(--font-size-xs) !important;
    max-width: 320px !important;
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 0.1rem !important;
    margin-bottom: 0.1rem !important;
}

.selectedData_item {
    display: flex !important;
    align-items: center !important;
    gap: 0.5rem !important;
    padding: 0.1rem 0.5rem !important;
    border-radius: 4px !important;
    background: var(--color-dark-sub) !important;
    color: #fff !important;
}