.container {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--color-dark-main);

    .left {
        width: 280px;
        border-right: 1px solid var(--color-border);
        height: 100%;


        .profileWrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            border-bottom: 1px solid var(--color-border);
            padding: 1rem;

            .basicInfo {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: calc(25% - 1rem);

                p:nth-child(1) {
                    font-size: var(--font-size-md);
                    margin: 0;
                    font-weight: 600;
                }

                p {
                    font-size: var(--font-size-sm);
                    margin: 0;
                }
            }

            .links {
                display: flex;
                gap: 1rem;

                .linkIcon {
                    display: flex;
                    align-items: center;
                    padding: 0.5rem;
                    border-radius: 50%;
                    background-color: var(--color-primary-main-200);
                    cursor: pointer;
                }
            }

        }

        .aboutWrap {
            height: calc(75% - 0.5rem);
            position: relative;

            &>div:nth-child(1) {
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &>p:nth-child(1) {
                    position: sticky;
                    background-color: white;
                    top: 0;
                    left: 0;
                    font-size: var(--font-size-md);
                    font-weight: 600;
                    margin: 0;
                }

                span {
                    font-size: var(--font-size-sm);
                    color: var(--color-light-400);
                    cursor: pointer;
                }

            }

            .metaWrap {
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                padding: 0 1rem;

                .meta {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;

                    &>p:nth-child(1) {
                        margin: 0;
                        font-size: var(--font-size-xs);
                        color: var(--color-light-400);
                    }

                    &>p:nth-child(2) {
                        margin: 0;
                        font-size: var(--font-size-normal);
                    }
                }
            }
        }
    }

    .center {
        width: calc(100% - 280px - 380px);
        border-right: 1px solid var(--color-border);
        height: 100%;
        padding: 0.25rem 1rem;

        .backWrap {
            a {
                display: flex;
                align-items: center;
                // gap: 0.5rem;
                color: var(--color-dark-main);
            }
        }

        &>p:nth-child(1) {
            position: sticky;
            background-color: white;
            top: 0;
            left: 0;
            font-size: var(--font-size-md);
            font-weight: 600;
            margin: 0;
            margin-bottom: 1.25rem;
        }

        .onlyMyTask {
            padding: 0.25rem 0.5rem;
            font-size: var(--font-size-sm);
            border-radius: 0.25rem;
            cursor: pointer;
            background-color: var(--color-light);
            color: var(--color-dark-main);
        }

        .onlyMyTask:hover {
            background-color: var(--color-light-50);
            transition: all 0.3s;
        }
    }

    .right {
        width: 380px;
        position: relative;
        height: 100%;

        &>div:nth-child(1) {
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>p:nth-child(1) {
                position: sticky;
                background-color: white;
                top: 0;
                left: 0;
                font-size: var(--font-size-md);
                font-weight: 600;
                margin: 0;
            }

            span {
                font-size: var(--font-size-sm);
                color: var(--color-light-400);
                cursor: pointer;
            }

        }

        .resourcesWrap {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 1rem;
            padding: 0 1rem;
            margin-top: 0.25rem;

            .resourceWrap {
                box-shadow: 0px 1.5px 1.5px #091E4240, 0px 0px 1.5px #091E424F;
                border-radius: 0.25rem;

            }
        }
    }
}