.overlay {
    width: 12rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;

    .logOut {
        &:hover {
            cursor: pointer;
        }
    }

    .withIcon {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}