.form {
    max-width: 28rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.headingWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
        margin-bottom: .5rem;
    }
}

.logoWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    img {
        height: 2rem;
    }
}

.forgotPasswordImg {
    background-color: rgba(0, 70, 127, .15);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
}